// @use "../../App.scss" as *;
@import "../../assets/scss/abstracts/functions", "../../assets/scss/abstracts/mixins",
    "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/fonts";

button {
    @include Raleway;
    font-size: fs(fs-24);
    position: relative;
    background: transparent;
    padding: $p-0_5 $p-1-5;
    cursor: pointer;
}
