// @use "../../App.scss" as *;
@import "../../assets/scss/abstracts/functions", "../../assets/scss/abstracts/mixins",
    "../../assets/scss/abstracts/variables";

.card {
    position: relative;
    cursor: pointer;

    &:hover {
        .card__overlay {
            width: 100%;
        }

        .card__btn {
            opacity: 1;
        }
    }

    &__image {
        overflow: hidden;
        max-height: 406px;

        .img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background: $purple;
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        border: 3px solid $grey;
        font-weight: font-weight(font-bolder);
        opacity: 0;
    }
}

.hidden {
    opacity: 0;
}
