// @use "../../App.scss" as *;
// @use "../../assets/scss/utilities/animations";
@import "../../assets/scss/abstracts/functions", "../../assets/scss/abstracts/mixins",
    "../../assets/scss/abstracts/variables";
@import "../../assets/scss/utilities/animations";

.project-sect {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__content {
        padding: $p-0 5%;
        padding-right: $p-0;
    }

    &__heading {
        position: relative;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 110%;
        background-color: $black;
        transition: height ease-in-out 0.4s;
        z-index: 1;

        &.show {
            height: 0;
        }
    }

    &__title {
        font-size: 2.5rem;
        -webkit-text-stroke: 0.0625rem $grey;
        -webkit-text-fill-color: transparent;
        position: relative;
    }
}

.projects {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 3.75rem;
    }
}

@include breakpoint(md, min) {
    .project-sect {
        justify-content: center;
        align-items: center;
        padding-right: 5%;

        &__title {
            font-size: 11.5rem;
            text-align: center;
            margin-bottom: $p-3;
        }
    }
}
