// @use "../../App.scss" as *;
@import "../../assets/scss/abstracts/functions", "../../assets/scss/abstracts/mixins",
    "../../assets/scss/abstracts/variables";

.not-found {
    &__container {
        padding: 5%;
        text-align: center;

        h1 {
            color: $purple;
            font-size: 7.5rem;
            // line-height: 1.2;
            margin-bottom: $p-0;
        }

        h2 {
            color: $grey;
            font-size: fs(fs-24);
            padding: $p-0 $p-1_5;
        }

        p {
            font-size: fs(fs-18);

            a {
                color: $purple;

                &:hover {
                    color: $purple;
                }
            }
        }
    }
}

@include breakpoint(md, min) {
    .not-found {
        &__container {
            padding: 5%;
            text-align: center;

            h1 {
                font-size: 10.5rem;
            }

            h2 {
                font-size: fs(fs-28);
            }

            p {
                font-size: fs(fs-24);
            }
        }
    }
}
